.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 0.15fr));
  justify-content: center;
  align-content: center;
  column-gap: 10px;
  row-gap: 40px;
  padding-left: 20px;
  margin: auto;
  overflow-y: scroll;
  height: 100%;
}

.profile-card {
  background-color: rgb(224, 230, 232);
  border-radius: 25px;
  display: grid;
  width: 150px;
  justify-content: center;
  align-content: center;
  height: 150px;
  margin: -10px;
  padding: 0px;
  transition: all .3s;
  cursor: pointer; 
}

.profile-card:hover {
  transform: translateY(-.5rem) scale(1.03); 
  filter: brightness(70%);
  box-shadow: 7px 7px 20px rgba(0,0,0 , .2);
}

.profile-card:active {
  transform: translateY(-.2rem) scale(1.01);
  box-shadow: 3px 3px 10px rgba(0,0,0 , .2);
}

.profile-img {
  margin: auto;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.card-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  margin: auto;
}

span {
  vertical-align: middle;
}

.mint-banner {
  background-color: rgba(0, 64, 255, 0.611);
  padding: .5rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  font-weight: bolder;
  font-size: 1rem;
}

.cards-page-background {
  min-height: 100%;
  background-image: url("assets/cards-page-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.profile-grid {
  width: 60%;
  height: 80vh;
  background-color: rgb(80, 80, 80);
  padding: 20px;
  margin: 20px;
  margin-left: 75px;
  border-radius: 25px;
  border: #42daf5 3px solid;
}

.card-text {
  font-weight: 700;
  text-decoration: underline;
}