.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}

.cards-grid {
  display: grid;
  padding-top: 175px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.15fr));
  justify-content: center;
  align-content: center;
  row-gap: 40px;
  padding-left: 20px;
  margin: auto;
  overflow-y: scroll;
  height: 95%;
}

.profile-card {
  background-color: rgb(224, 230, 232);
  border-radius: 25px;
  display: grid;
  width: 150px;
  justify-content: center;
  align-content: center;
  height: 150px;
  margin: -10px;
  padding: 0px;
  transition: all 0.3s;
  cursor: pointer;
}

.profile-card:hover {
  transform: translateY(-0.5rem) scale(1.03);
  filter: brightness(70%);
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.profile-card:active {
  transform: translateY(-0.2rem) scale(1.01);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.profile-img {
  margin: auto;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.card-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  margin: auto;
}

span {
  vertical-align: middle;
}

.mint-banner {
  background-color: rgba(0, 64, 255, 0.611);
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-weight: bolder;
  font-size: 1rem;
}

body {
  min-height: 100%!;
  min-width: 100%!;
  background: url("assets/wrappy-background.png") no-repeat center center fixed;
  background-color: "black";
  background-size: 100%;
  background-repeat: no-repeat!;
  background-position: center center!;
  background-attachment: fixed!;
}

.cards-container {
  width: 50%;
  height: 80vh;
  background-color: rgb(80, 80, 80);
  padding: 20px;
  margin: 20px;
  margin-left: 75px;
  margin-bottom: 100px;
  border-radius: 25px;
  border: #42daf5 3px solid;
}

.card-text {
  font-weight: 700;
  text-decoration: underline;
  overflow-x: auto;
  padding: auto;
  text-underline-offset: 0.15em;
}

.profile-grid-header {
  font-size: x-large;
  color: white;
  font-weight: 700;
  text-align: left;
  padding-left: 7.5vw;
}

.search-bar-cards-grid {
  border-radius: 25px;
  padding: auto;
  margin: auto;
  margin-bottom: 15px;
  border: 0px;
  width: 60%;
  height: 32px;
  background: transparent url("https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png") no-repeat
    10px;
  background-size: 15px;
  cursor: pointer;
  padding-left: 35px;
  background-color: white;
}

.search-bar-div {
  text-align: left;
  padding-left: 3%;
}

.homepage-title {
  /* Treasure your friendship on-chain */

  position: absolute;
  width: 671px;
  height: 136px;
  left: 72px;
  top: 252px;

  font-family: "SF Pro";
  font-style: normal;
  font-weight: 860;
  font-size: 60px;
  text-align: left;
  line-height: 68px;
  /* or 94% */

  /* NEW */
  background: linear-gradient(82.38deg, #e75413 3.3%, #c624ff 50.69%, #0cb4ff 98.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.homepage-subtitle {
  /* Flourish your planet by interacting with your friends on-chain */

  position: absolute;
  width: 653px;
  height: 80px;
  left: 72px;
  top: 408px;

  font-family: "SF Pro";
  font-style: normal;
  font-weight: 510;
  font-size: 30px;
  text-align: left;
  line-height: 40px;
  /* or 133% */
  letter-spacing: 0.05em;

  color: #ffffff;
}
